@font-face {
    font-family: 'Monocraft';
    src: url('./font/Monocraft.woff2') format('woff2'),
         url('./font/Monocraft.woff') format('woff');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #878787a8 #00000000;
    font-family: 'Monocraft', monospace;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body{
    background-color: #14171C;
    overflow-x: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #14171C;
}
.title {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    max-height: 100px;
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0em;
    overflow: hidden;
    text-decoration: none;
}
.comic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    min-height: calc(100vh - 1000px);
    background-color: #14171C;
    justify-content: center;
    align-items: start;
    padding: 1em;
}

/* Адаптивный дизайн для одной карточки */
.comic-list > .comic {
    grid-column: span 1; /* Каждая карточка занимает одну колонку */
}

.comic-list:only-child {
    grid-template-columns: 1fr; /* Если только одна карточка, занимает всю ширину */
}

.comic{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(179, 95, 95, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    min-width: 328px;
    height: 496px;
    position: relative;
    overflow: hidden; /* Чтобы блеск не выходил за границы */
    transition: transform 0.5s ease-in-out;
}
.comic::before {
    content: "";
    position: absolute;
    bottom: -150%; /* Начинаем блеск за пределами карточки */
    left: -100%;
    width: 250%;
    height: 250%;
    background: linear-gradient(
        300deg,  /* Изменён угол, чтобы блеск шёл СНИЗУ ВВЕРХ */
        rgba(255, 255, 255, 0) 45%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 55%
    );
    transform: rotate(25deg);
    transition: none; /* До наведения эффекта нет */
    opacity: 0;
}

.comic:hover::before {
    bottom: 150%; /* Поднимаем блеск вверх */
    transition: bottom 1s ease-in-out, opacity 0.2s ease-in;
    opacity: 1;
}
.ozka {background-image: url('./img/ozka_0.png');}
.elf {background-image: url('./img/elf_0.png');}


.comic-t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.comic-card-title {
    font-size: 7em;
    color: #ffffff;
    display: block;
}
.comic-card-text {
    display: table-cell;
    vertical-align: bottom;
    font-size: 1.5em;
    color: #ffffff;
    overflow-y: auto;
    max-height: 50%;
}
.comic-card-img {
    width: 100%;
    height: 100%;
}
.comic-btn {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 45%;
}
.select-btn {
    display: block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 5px;
    background-color: green;
    text-transform: none;
    color: #ffffff;
    font-size: 15px;
    overflow-y: hidden;
    margin: 1em;
}
.btn {
    border-radius: 5px;
    background-color: #14171C;
    text-transform: none;
    color: white;
    font-size: 29px;
    overflow-y: hidden;
    padding: 0em 1em;
    border: none;
    text-align: center;
    width: 3em;
}
.btn:focus {
    outline: none;
}
footer {
    color: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
}

@media screen and (max-height: 1000px) {
    footer{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .title{
        margin: 0.5rem 0rem;
    }
    .comic-list{
        align-items: center;
        justify-content: center;
    }
    .comic{
        flex-direction: column;
        background-position: center;
        padding: 0;
    }
    .comic-t {
        width: 100%;
        height: 100%;
        margin-bottom: 1em;
    }
    .comic-btn {
        width: 50%;
        padding-right: 2em;
        position: relative;
        left: 50%;
        font-size: 10px;

    }
    .comic-card-title {
        font-size: 4em;
    }
    .comic-card-text {
        font-size: 1.2em;
    }
    .select-btn {
        font-size: 1.5em;
    }
    footer {
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #14171C;
        margin: 0;
        padding: 1em;
        font-size: 7px;
        text-align: center;
        
    }
    .btn {
        font-size: 16px;
        max-width:35px ;
    }
}